/* The following is for uploader */
.upload_info {
    display: flex;
    flex-direction: column;
}

.upload_btn {
    margin-top: 30px !important;
    color: white !important;
    background-color: #2590eb !important;
}

.cloud-icon {
    height: 80px !important;
    width: 80px !important;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .file-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #ffffff;
    font-size: 100px;
}

.wrapper .file-upload input[type="file"] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
}

.MuiInputBase-root {
    color: white !important;
}

.MuiFormLabel-root {
    color: white !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #2590eb !important;
}

.MuiInput-underline:before {
    border-bottom: 2px solid white !important;
}

.MuiFormControl-root {
    min-width: 250px !important;
}

.ButtonContainer {
    display: flex;
    min-height: 80vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.DetailContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    min-height: 80vh;
}

.TextInputs {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}
